section {
    position: relative;
    height: 472px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 150px;
    
}

.container {
    padding: 0;
    -webkit-mask-image: linear-gradient(to right,
            transparent 0%,
            black 10%,
            black 90%,
            transparent 100%);

    mask-image: linear-gradient(to right,
            transparent 0%,
            black 10%,
            black 90%,
            transparent 100%);
}

h1 {
    color: #3DCFB6;
    font-family: 'Fira Code';
    margin: 0;
    text-align: center;
}

.quote {
    position: absolute;
    top: 1px;
    left: 0;
    z-index: 1;
    height: 40px;
}

.card {
    box-sizing: border-box;
    background-color: #3dcfb771;
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    padding: 40px;
    height: 274px;

    .comment {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;

        p {
            color: #FFFFFF;
            font-size: 16px;
            font-family: 'Fira Code';
            letter-spacing: 0.8px;
        }
    }

    .author {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
    }

    .author::before {
        content: "";
        flex: 1;
        height: 2px;
        border-radius: 10px;
        background-color: #ffffff;
    }
}

.card-wrapper {
    opacity: 0.5;
    transform: scale(0.9);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.splide__slide.is-active .card-wrapper {
    opacity: 1;
    transform: scale(1);
}

.btn-container {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;

    .btn-box {
        width: 184px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn {
        width: 40px;
        height: 40px;
        border: none;
        transition: transform 0.125s ease;
    }
}

.left {
    background-image: url('../../../assets/img/arrow_back.svg');
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-image: url('../../../assets/img/arrow_back_hover.svg');
        transform: translateX(-3px);
    }
}

.right {
    background-image: url('../../../assets/img/arrow-forward.svg');
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-image: url('../../../assets/img/arrow-forward-hover.svg');
        transform: translateX(3px);
    }
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    margin: 0 5px;
}

.dot.active {
    background-color: #3DCFB6;
}



.shadow-slider {
    position: relative;
    overflow: hidden;
}

.shadow-slider::before,
.shadow-slider::after {
    content: "";
    position: absolute;
    top: 0;
    width: 150px;
    height: 100%;
    z-index: 5;
    pointer-events: none;
}

.shadow-slider::before {
    left: 0;
    background: linear-gradient(to right, #1c1c1cab, #1c1c1c44, #1c1c1c00);
}

.shadow-slider::after {
    right: 0;
    background: linear-gradient(to left, #1c1c1cab, #1c1c1c44, #1C1C1C00);
}

@media(max-width: 1210px) {
    .card {
        .comment {
            p {
                color: #FFFFFF;
                font-size: 14px;
                font-family: 'Fira Code';
                letter-spacing: 0.8px;
            }
        }
    }
}


@media(max-width: 960px) {
    .card {
        height: 360px;

        .comment {
            justify-content: center;
        }
    }
}

@media(max-width: 700px) {
    .shadow-slider::before {
        background: transparent;
    }

    .shadow-slider::after {
        background: transparent;
    }
}

@media(max-width: 600px) {
    section {
        height: 500px;
    }
}

@media(max-width: 425px) {
    section {
        height: 500px;
    }

    .card {
        height: 340px;

        .comment {
            p {
                font-size: 12px;
            }
        }
    }
}

@media(max-width: 390px) {
    .author {
        span {
            font-size: 12px;
        }
    }
}

@media(max-width: 375px) {
    .card {
        .comment {
            p {
                font-size: 11px;
                letter-spacing: 0;
            }
        }
    }
}

@media(max-width: 345px) {
    h1 {
        font-size: 28px;
    }
}









































// .evaluation-box {
//   height: 540px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-between;
// }

// .evaluation-headline {
//   height: 42px;
//   width: 600px;
//   margin-bottom: 40px;

//   h2 {
//     margin: 0;
//     font-size: 32px;
//     font-weight: 700;
//     color: #3DCFB6;
//     display: block;
//     width: 100%;
//     text-align: justify;
//     font-family: "Fira Code";
//   }
// }

// .evaluation-headline h2::after {
//   content: "";
//   display: inline-block;
//   width: 100%;
// }

// .slider-wrapper {
//   width: 100%;
//   margin: 0 auto;
//   text-align: center;
//   position: relative;

//   &::before {
//     content: "";
//     position: absolute;
//     left: 0;
//     top: -20px;
//     width: 200px;
//     height: 120%;
//     pointer-events: none;
//     background: linear-gradient(to right, #1c1c1c, transparent);
//     z-index: 1;
//   }

//   &::after {
//     content: "";
//     position: absolute;
//     right: 0;
//     top: -20px;
//     width: 200px;
//     height: 120%;
//     pointer-events: none;
//     background: linear-gradient(to left, #1c1c1c, transparent);
//     z-index: 10;
//   }
// }

// .slider-container {
//   width: 100%;
//   height: 274px;
//   overflow-x: visible;
//   position: relative;

//   svg {
//     position: absolute;
//     top: -30px;
//     left: 25%;
//     z-index: 10;
//   }
// }

// .slider-track {
//   display: flex;
//   gap: 80px;
//   height: 274px;
//   padding: 0;
//   transition: transform 0.35s ease;
// }

// .card {
//   flex: 0 0 650px;
//   background: #3DCFB61A;
//   border-radius: 35px;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: space-between;
//   text-align: start;
//   font-size: 24px;
//   padding: 40px 40px;
//   border: 1px solid #3DCFB6;
//   transition: transform 0.95s ease, box-shadow 0.95s ease;

//   .card-text {
//     width: 100%;
//     letter-spacing: 0.3px;
//     display: block;
//   }

//   .card-author {
//     display: flex;
//     width: 100%;
//     align-items: center;
//     justify-content: flex-end;
//     gap: 16px;
//     font-weight: 400;
//   }

//   .card-author::before {
//     content: "";
//     flex-grow: 1;
//     height: 2px;
//     border-radius: 50px;
//     background-color: #FFFFFF;
//   }
// }

// .card.active-card {
//   transform: scale(1.1);
//   background: #3dcfb765;
//   transition: all 0.8s ease-in;
// }

// .slider-buttons {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 30px;

//   .btn {
//     width: 40px;
//     height: 40px;
//     padding: 0;
//     transition: 0.2s ease;

//     &.prev {
//       background-image: url(../../../assets/img/arrow_back.svg);
//       background-size: 18px;
//       background-repeat: no-repeat;
//       background-position: center;
//       transition: 125ms ease-in-out;

//       &:hover {
//         background-image: url(../../../assets/img/arrow-back-hover.svg);
//         transform: scale(1.05) translateX(-3px);
//       }
//     }

//     &.next {
//       background-image: url(../../../assets/img/arrow-forward.svg);
//       background-size: 18px;
//       background-repeat: no-repeat;
//       background-position: center;

//       &:hover {
//         background-image: url(../../../assets/img/arrow-forward-hover.svg);
//         transform: scale(1.05) translateX(3px);
//       }
//     }
//   }
// }

// .pagination {
//   display: flex;
//   align-items: center;
//   gap: 20px;

//   .pagination-dot {
//     width: 8px;
//     height: 8px;
//     border-radius: 50%;
//     background: #FFFFFF;
//     cursor: default;
//   }

//   .pagination-dot.active {
//     background: #3DCFB6;
//   }
// }