section {
    position: relative;
    height: 472px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 150px;

}

.container {
    padding: 0;
    -webkit-mask-image: linear-gradient(to right,
            transparent 0%,
            black 10%,
            black 90%,
            transparent 100%);

    mask-image: linear-gradient(to right,
            transparent 0%,
            black 10%,
            black 90%,
            transparent 100%);
}

h2 {
    color: #3DCFB6;
    font-family: 'Fira Code';
    margin: 0;
    margin-bottom: 40px;
    padding: 0 30px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
}

.quote {
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 1;
    height: 40px;
}

.card {
    box-sizing: border-box;
    background-color: #3dcfb771;
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    padding: 40px;
    height: 274px;

    .comment {
        height: 100%;
        display: flex;
        justify-content: start;

        p {
            color: #FFFFFF;
            font-size: 16px;
            font-family: 'Fira Code';
            letter-spacing: 0;
        }
    }

    .author {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
    }

    .author::before {
        content: "";
        flex: 1;
        height: 2px;
        border-radius: 10px;
        background-color: #ffffff;
    }
}

.card-wrapper {
    opacity: 0.5;
    transform: scale(0.7);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.splide__slide.is-active .card-wrapper {
    opacity: 1;
    transform: scale(0.9);
}

.btn-container {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .btn-box {
        width: 184px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn {
        width: 40px;
        height: 40px;
        border: none;
        transition: transform 0.125s ease;
    }
}

.left {
    background-image: url('../../../assets/img/arrow_back.svg');
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-image: url('../../../assets/img/arrow_back_hover.svg');
        transform: translateX(-3px);
    }
}

.right {
    background-image: url('../../../assets/img/arrow-forward.svg');
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-image: url('../../../assets/img/arrow-forward-hover.svg');
        transform: translateX(3px);
    }
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    margin: 0 5px;
}

.dot.active {
    background-color: #3DCFB6;
}



.shadow-slider {
    position: relative;
    overflow: hidden;
}

.shadow-slider::before,
.shadow-slider::after {
    content: "";
    position: absolute;
    top: 0;
    width: 150px;
    height: 100%;
    z-index: 5;
    pointer-events: none;
}

.shadow-slider::before {
    left: 0;
    background: linear-gradient(to right, #1c1c1cab, #1c1c1c44, #1c1c1c00);
}

.shadow-slider::after {
    right: 0;
    background: linear-gradient(to left, #1c1c1cab, #1c1c1c44, #1C1C1C00);
}

@media(max-width: 1210px) {
    .card {
        .comment {
            p {
                letter-spacing: -1px;
            }
        }
    }
}


@media(max-width: 960px) {
    .card {
        height: 360px;

        .comment {
            justify-content: center;
        }
    }
}

@media(max-width: 700px) {
    .shadow-slider::before {
        background: transparent;
    }

    .shadow-slider::after {
        background: transparent;
    }
}

@media(max-width: 600px) {
    section {
        height: 500px;
    }
}

@media(max-width: 425px) {
    section {
        height: 500px;
    }

    .card {
        height: 340px;
        padding: 40px 12px 40px 12px;
    }
}

@media(max-width: 390px) {
    .author {
        span {
            font-size: 16px;
        }
    }
}

@media(max-width: 375px) {
    section {
        height: 572px;
    }

    .card {
        height: 400px;

        .comment {
            p {
                letter-spacing: -1.7px;
            }
        }

        .author {
            span {
                letter-spacing: -1.5px;
            }
        }
    }
}

@media(max-width: 345px) {
    h2 {
        font-size: 28px;
    }
}