.contact-me-box {
  position: relative;
  height: 845px;
  width: 100vw;
  margin-top: 80px;
}

.contact-me-container {
  display: flex;
  justify-content: space-between;
}

.work-text-container {
  height: 337px;
  width: 568px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.lets-work {
  width: 100%;
  height: 195px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h3 {
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-500);
    margin: var(--margin-0);
    line-height: 100%;
    letter-spacing: 1.5px;
    color: #3DCFB6;
  }

  h1 {
    font-size: var(--font-size-64);
    font-weight: var(--font-weight-700);
    margin: var(--margin-0);
    line-height: 100%;
    letter-spacing: -3px;
    font-family: "Fira Code";
    color: #3DCFB6;
    overflow-wrap: anywhere;
  }
}

.work-text {
  width: 100%;
  height: 121px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h3 {
    font-size: 24px;
    font-weight: 700;
    font-style: bold;
    line-height: 120%;
    letter-spacing: 0;
    color: #3DCFB6;
    font-family: "Fira Code";
    margin: 0;
  }

  p {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-400);
    line-height: 120%;
    letter-spacing: 0;
  }

  span {
    font-weight: var(--font-weight-700);
    font-style: bold;
    line-height: 120%;
    letter-spacing: 0;
    cursor: default;
  }

  .developer-container {
    display: flex;
    gap: 5px;
  }
}

.form-container {
  height: 550px;
  width: 616px;
  display: flex;
  flex-direction: column;

  .text-area-container {
    position: relative;

    input::placeholder {
      transition: color 125ms ease;
    }

    &:hover input::placeholder {
      color: #FFFFFFCC;
    }

    &:focus-within input::placeholder {
      opacity: 0;
    }

    .error-message::placeholder {
      color: #e64343;
    }

    .normel-line {
      position: absolute;
      display: block;
      width: 100%;
      border-bottom: 2px solid var(--bgcolor);
      transition: border-color 0.3s ease;
      height: 0;
    }

    .line {
      position: absolute;
      display: block;
      width: 100%;
      border-bottom: 2px solid #3dcfb757;
      transition: border-color 0.3s ease;
      border-radius: 100px;
      height: 0;
    }

    .line:first-of-type {
      top: 0;
      border-color: transparent;
    }

    &:first-of-type:hover .line:last-of-type {
      border-color: var(--bgcolor);
    }

    &:nth-of-type(2):hover .line:first-of-type {
      border-color: var(--bgcolor);
    }

    &:nth-of-type(2):hover .line:last-of-type {
      border-color: var(--bgcolor);
    }

    &:nth-of-type(3):hover .line:first-of-type {
      border-color: var(--bgcolor);
    }

    &:nth-of-type(3):hover .line:last-of-type {
      border-color: var(--bgcolor);
    }
  }
}

.warning-notice-email {
  position: absolute;
  bottom: 10px;
  left: 35px;
  font-size: 14px;
  cursor: default;
  color: #e64343;
}

label {
  color: var(--textcolor);
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-500);
  letter-spacing: 2px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  font-family: "Fira Code";
}

input[type=text],
[type=email],
select,
textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid var(--primar-bg-color);
  color: white;
  border-radius: 0;
  box-sizing: border-box;
  resize: vertical;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1.5px;
  outline: none;
}

input[type=text]:focus {
  border: 1px solid var(--primar-bg-color);
}

.check-container {
  height: 117px;
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .privacy-policy-container {
    height: 53px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    letter-spacing: 0px;
    font-size: 15px;
    font-weight: 400;
    gap: 8px;
    background-color: transparent;

    .privacy-policy-text {
      width: 592px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      div {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    .checkbox {
      height: 18px;
      width: 18px;
      padding: 0;
      background-image: url('../../assets/img/check_box_outline_blank.svg');
      object-fit: cover;
      background-repeat: no-repeat;

      &:hover {
        height: 18px;
        width: 18px;
        padding: 0;
        background-image: url('../../assets/img/Default\ hover.svg');
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      &.checked {
        height: 18px;
        width: 18px;
        padding: 0;
        background-image: url('../../assets/img/check_box.svg');
        object-fit: cover;
        background-position: center;

        &:hover {
          height: 18px;
          width: 18px;
          padding: 0;
          background-image: url('../../assets/img/Checked hover.svg');
        }
      }
    }

    span {
      color: var(--textcolor);

      &:hover {
        color: white;
      }
    }

    .policy-text {
      color: #3DCFB6;

      &:hover {
        color: #FFFFFF;
      }
    }

    .underline-effect {
      position: relative;
      font-family: "Fira Code";
      cursor: pointer;
    }

    .underline-effect::after {
      content: "";
      position: absolute;
      left: 49%;
      bottom: -2px;
      transform: translateX(-50%);
      height: 0;
      background-color: #3DCFB6;
    }

    .underline-effect:hover::after {
      width: 100%;
      height: 1px;
    }
  }

  .policy-error-massage {
    width: 100%;
    position: relative;

    span {
      position: absolute;
      top: -15px;
      font-size: 12px;
      letter-spacing: 1px;
      color: #e64343;
    }
  }

  .submit-wrapper {
    position: relative;
    width: fit-content;
  }

  .fake-submit {
    position: absolute;
    inset: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    color: rgb(63, 63, 63);
    z-index: 1;
  }
}

.hover-slide {
  border-radius: 100px;
  height: 48px;
  width: 172px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: border-color 0.25s ease-in-out;

  span {
    position: absolute;
    white-space: nowrap;
    height: 48px;
    width: 172px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
  }

  .main-text {
    color: white;
  }

  .slide-text {
    color: #3DCFB6;
    opacity: 0;
    transform: translateX(100%);
  }
}

.popUp-Overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;

  &.closing {
    animation: fadeOut 0.3s ease;
  }

  .popUp {
    height: 200px;
    width: 500px;
    background-image: linear-gradient(180deg, #3DCFB6, #000000);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;

    span {
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      font-family: "Fira Code";
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.7);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.7);
  }
}

@media(max-width: 1135px) {
  .contact-me-box {
    .container {
      padding: 20px 16px;
    }
  }
}

@media(max-width: 980px) {
  .contact-me-box {
    height: 1230px;
  }

  .contact-me-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 95px;
  }
}

@media(max-width: 650px) {
  .contact-me-box {
    width: 100%;
    height: 1350px;
    justify-content: center;
    margin: 80px 0 0 0;
  }

  .contact-me-container {
    gap: 150px;
    .work-text-container {
      height: 100%;
      width: 360px;
      gap: 32px;
    }

    .lets-work {
      width: 100%;
      height: 100px;
      gap: 16px;

      h3 {
        font-size: 18px;
        letter-spacing: 0px;
      }

      h1 {
        font-size: 42px;
      }
    }

    .work-text {
      width: 358px;
      height: 135px;
      gap: 12px;

      h3 {
        font-size: 20px;
      }
    }
  }

  .form-container {
    height: 562px;
    width: 358px;
  }

  .check-container {
    .privacy-policy-container {
      height: 89px;
      line-height: 120%;
      margin-bottom: 25px;

      .privacy-policy-text {
        width: 326px;
        height: 64px;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
      }

      .procress-text {
        margin-top: 20px;
        color: #FFFFFF;
      }

      .underline-effect::after {
        left: 50%;
      }
    }

    .submit-wrapper {
      margin-top: 15px;
    }
  }
}

@media(max-width: 395px) {
  .contact-me-container {
    gap: 220px;
    
    .work-text-container {
      width: 288px;
    }

    .lets-work {
      h1 {
        font-size: 32px;
      }
    }

    .work-text {
      width: 288px;

      h3 {
        font-size: 20px;
      }
    }
  }

  .form-container {
    width: 288px;
  }

  label {
    font-size: 16px;
  }
}