<section class="contact-me-box">
    <div class="padding">
        <div class="contact-me-container">
            <div class="work-text-container">
                <h3 class="turquoise">{{ 'contact_me' | translate }}</h3>
                <h1 class="turquoise">{{ 'lets_work' | translate }}</h1>
                <p class="turquoise font-size64">{{ 'together' | translate }}</p>
                <h3 class="turquoise special">{{ 'problem_to_solve' | translate }}</h3>
                <p>{{ 'contact_text1' | translate }}</p>
                <p>{{ 'contact_text2' | translate }}</p>
                <span class="developer-container">
                    <p>{{ 'contact_text3' | translate }}</p><span class="turquoise" data-i18n="lets_talk">{{ 'about' |
                        translate }}!</span>
                </span>
            </div>

            <div class="form-container">
                <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" novalidate>
                    <div class="text-area-container">
                        <span class="normel-line"></span>
                        <label for="name">{{ 'Whats_your_name' | translate }}
                            <input [(ngModel)]="contactData.name" type="text" id="name" name="name" required
                                #nameField="ngModel"
                                [placeholder]="(isInvalid ? errorNamePlaceholder : normalNamePlaceholder) | translate"
                                [class.error-massage]="isInvalid && nameField.invalid">
                        </label>
                        <span class="line"></span>
                    </div>
                    <div class="text-area-container">
                        <span class="line"></span>
                        <label for="email">{{ 'Whats_your_email' | translate }}
                            <input [(ngModel)]="contactData.email" type="email" id="email" name="email"
                                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required
                                #emailField="ngModel"
                                [placeholder]="(isInvalid ? errorEmailPlaceholder : normalEmailPlaceholder) | translate"
                                [class.error-massage]="isInvalid && emailField.invalid">
                        </label>
                        <span class="line"></span>
                    </div>
                    <div class="text-area-container">
                        <span class="line"></span>
                        <label for="massage">{{ 'How_can_I_help_you' | translate }}
                            <input [(ngModel)]="contactData.massage" type="text" id="massage" name="massage" required
                                #massageField="ngModel"
                                [placeholder]="(isInvalid ? errorMassagePlaceholder : normalMassagePlaceholder) | translate"
                                [class.error-massage]="isInvalid && massageField.invalid">
                        </label>
                        <span class="line"></span>
                    </div>
                    <div class="check-container">
                        <div class="privacy-policy-container">
                            <button class="checkbox" [class.checked]="isChecked" (click)="toggleCheckbox()"
                                type="button"></button>
                            <p>{{ 'Ive_read_the' | translate }}<span class="underline-effect"> {{ 'privacy_policy' |
                                    translate }}</span> {{ 'processing_of_my_data' | translate }}</p>
                        </div>
                        <div class="policy-error-massage" *ngIf="policyError">
                            <span>{{ 'Please_accept_the_privacy_policy.' | translate }}</span>
                        </div>
                        <div class="submit-wrapper">
                            <button type="button" class="fake-submit" *ngIf="!isChecked" (click)="showPolicyError()">
                                <span>{{ 'say_hello' | translate }}</span>
                            </button>
                            <button class="hover-slide" hoverSlide type="submit" [disabled]="!isChecked">
                                <span class="main-text">{{ 'say_hello' | translate }}</span>
                                <span class="slide-text">{{ 'say_hello' | translate }}</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>