header {
    position: absolute;
    width: 100vw;
    top: 0;
    padding: 45px 0;
    z-index: 1;
}

@media(max-width: 1000px) {
    .container {
        padding: 0 16px;
    }
    
    .header-container {
        background: transparent;
    }
}