<div class="nav-container">
    <div class="nav-selection">
        <div class="language-container">
            <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox"
                [checked]="currentLang === 'de'" (change)="toggleLanguage()" />

            <label for="language-toggle"></label>
            <span class="on" [class.active]="currentLang === 'en'" (click)="setLanguage('en')">
                EN
            </span>
            <span class="off" [class.active]="currentLang === 'de'" (click)="setLanguage('de')">
                DE
            </span>
        </div>
        <div class="links">
            <a class="point-effect" href="#">{{ 'about' | translate }}</a>
            <a class="point-effect" href="#">{{ 'skills' | translate }}</a>
            <a class="point-effect" href="#">{{ 'projects' | translate }}</a>
        </div>
    </div>
    <div class="logo"></div>
</div>