<div class="nav-container">
    <div class="nav-selection">
        <div class="language-switch">
            <button class="lang-btn" [class.active]="currentLang === 'en'" [disabled]="currentLang === 'en'"
                (click)="switchLanguage('en')"></button>

            <button class="lang-btn" [class.active]="currentLang === 'de'" [disabled]="currentLang === 'de'"
                (click)="switchLanguage('de')"></button>
        </div>
        <div class="links">
            <a class="point-effect" href="#">About me</a>
            <a class="point-effect" href="#">Skills</a>
            <a class="point-effect" href="#">Projects</a>
        </div>
    </div>
    <div class="logo"></div>
</div>