<section class="about-me-box">
    <div class="about-me-container">
        <div class="me-img-container">
            <img class="me-img" src="./../../../assets/img/Photo.png" alt="">
        </div>
        <div class="about-me-text-container">
            <h2>Who I Am</h2>
            <div class="text-box">
                <div>
                    <h1>About me</h1>
                </div>
                <div>

                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
</section>
