.about-me-box {
    height: 1000px;
    width: 100vw;
    max-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 708px;
    width: 100%;
    margin: 0 112px;

    .me-img-container {
        height: 568px;
        width: 568px;
        background-image: url('./../../../assets/img/Capa.png');
        background-repeat: no-repeat;

    }

    .me-img {
        position: absolute;
        left: 40px;
        top: -40px;
        height: 568px;
        width: 568px;
    }

    .about-me-text-container {
        right: 0;
        top: 98px;
        height: 588px;
        width: 568px;

        >h2 {
            font-size: 24px;
            font-weight: 500;
            color: #3DCFB6;
        }

        .text-box {
            height: 540px;
            width: 500px;
            display: flex;
            flex-direction: column;
            background-color: #3DCFB61A;
            border: 1px solid #3DCFB6;
            border-radius: 30px;
            padding: 32px;
            gap: 40px;

            h1 {
                font-size: 64px;
                font-weight: 700;
                color: #3DCFB6;
                margin: 0;
                font-family: "Fira Code";
            }

            .about-me-questions-box {
                height: 88px;
                width: 504px;
                text-align: justify;
                

                >span {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 120%;
                    letter-spacing: 0.3px;
                    cursor: default;
                }
            }
        }

        .answer-box {
            height: 519px;
            height: 252px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-evenly;
            gap: 16px;
        }

        .answer-text {
            display: flex;
            align-items: start;
            text-align: start;
            gap: 24px;

            height: 44px;
            width: 519px;

            font-size: 18px;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: 0.3px;

            >img {
                height: 32px;
                width: 32px;
                transition: 125ms ease-in-out;

                &:hover + span {
                    color: #FFFFFF;
                }
            }

            >span {
                color: gray;
                cursor: default;
                transition: 125ms ease-in-out;

                &:hover {
                    color: #FFFFFF
                    
                }
            }

            
        }
    }
}