<div class="about-me-container left">
    <div class="me-img-container">
        <div class="background-img"></div>
        <img class="me-img" src="./../../../assets/img/Photo.png" alt="">
    </div>
    <div class="about-me-text-container right">
        <div class="text-box-container">
            <h2>{{ 'Who' | translate }}</h2>
            <div class="text-box">
                <h1>{{ 'about' | translate }}</h1>
                <div class="question-answer-box">
                    <div class="about-me-questions-box">
                        <span>{{ 'about_me_section_text1' | translate }}</span>
                    </div>
                    <div class="answer-box">
                        <div class="answer-text">
                            <img src="./../../../assets/img/area-icon.svg" alt="">
                            <span>{{ 'about_me_section_text2' | translate }}</span>
                        </div>
                        <div class="answer-text">
                            <img src="./../../../../../assets/img/cognition.png" alt="">
                            <span>{{ 'about_me_section_text3' | translate }}</span>
                        </div>
                        <div class="answer-text">
                            <img src="./../../../../../assets/img/new_releases.png" alt="">
                            <span>{{ 'about_me_section_text4' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>