.landing-page-container {
    height: 900px;
    width: 100%;
    max-width: 1440px;
    background-image: url('./../../../assets/img/Background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.name-container {
    position: absolute;
    top: 316px;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 128px;
        font-weight: 700;
        padding: 0;
        margin: 0;
    }

    h3 {
        font-size: 40px;
        font-weight: 400;
        padding: 0;
        margin: 0;
        font-family: "Fira Code";
    }
}

.check-contact-container {
    display: flex;
    gap: 48px;
    margin-top: 40px;

    .hover-slide {
        border: 1px solid white;
        border-radius: 100px;
        height: 48px;
        width: 172px;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        transition: border-color 0.25s ease-in-out;

        &:hover {
            border: 1px solid #3DCFB6;
        }

        span {
            position: absolute;
            white-space: nowrap;
            height: 48px;
            width: 172px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .main-text {
            opacity: 1;
            color: white;
        }

        .slide-text {
            color: #3DCFB6;
            opacity: 0;
            transform: translateX(100%);
        }

        .mobile-slider {
            display: none;
        }
    }
}

.landing-page {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 96px;
    gap: 12px;
}

.arrow-container {
    height: 312px;
    width: 30px;
    margin-top: 588px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    .arrow-border {
        width: 30px;
        height: 48px;
        border: solid 1px #3DCFB6;
        border-radius: 32px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .arrow {
        display: inline-block;
        font-size: 16px;
        animation: bounce 1s infinite;
        cursor: default;
    }

    .overlay-open {
        animation-play-state: paused;
    }

    @keyframes bounce {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(8px);
        }
    }

    .arrow-line {
        width: 0;
        height: 240px;
        border: solid 1px #3DCFB6
    }
}

.git-linkin-container {
    height: 480px;
    width: 32px;
    margin-top: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    .vertical-email {
        width: 22px;
        height: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        transform: rotate(180deg);
        cursor: default;

        &:hover {
            color: #3DCFB6;
        }
    }

    .icon-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 32px;
        height: 76px;
        gap: 12px;

        .icon {
            display: inline-block;
            background-repeat: no-repeat;
            height: 32px;
            width: 50px;
            cursor: default;

            &.email {
                display: none;
                background-image: url("./../../../assets/img/img_phone/mail.svg");


                &:hover {
                    background-image: url("./../../../assets/img/img_phone/mail_hover.svg");
                }
            }
        }
    }

    .github {
        background-image: url("./../../../assets/img/GitHub.svg");
    }

    .github:hover {
        background-image: url("./../../../assets/img/GitHub Hover.svg");
    }

    .linkedin {
        background-image: url("./../../../assets/img/Linkedin.svg");
    }

    .linkedin:hover {
        background-image: url("./../../../assets/img/Linkedin\ Hovevr.svg");
    }

    .git-linkin-line {
        width: 0;
        height: 186px;
        border: solid 1px #FFFFFF;
    }
}

.slider {
    overflow: hidden;
    white-space: nowrap;
    width: 1480px;
    height: 62px;
    display: flex;
    position: absolute;
    top: 760px;
    transform: rotate(-3deg);
    backdrop-filter: blur(5.3px);
    background: #FFFFFF1F;
}

.track {
    display: inline-flex;
}

.track.scrolling {
  animation: scroll 8s linear infinite;
}

.track.Overlay-open {
    animation-play-state: paused;
}

.slide {
    margin-right: 56px;
    font-size: 32px;
    display: flex;
    align-items: center;
    position: relative;
    color: #3DCFB6;
    cursor: default;
}

.slide::after {
    content: "•";
    margin-left: 56px;
    opacity: 0.6;
}

.track .slide:last-child::after {
    content: "";
}



@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-33.5%);
    }
}

@media(max-width: 1100px) {
    .landing-page-container {
        height: 844px;
    }

    .landing-page {
        margin: 0 16px;
    }

    .check-contact-container {
        .hover-slide {
            .main-text {
                opacity: 0;
            }

            .mobile-slider {
                display: flex;
                color: #3DCFB6;
            }
        }
    }

    .git-linkin-container {
        height: 256px;
        margin-top: 588px;

        .vertical-email {
            display: none;
        }

        .icon-container {
            height: 120px;

            .icon {
                &.email {
                    display: flex;
                }
            }
        }
    }

    .slider {
        top: 758px;
    }
}

@media(max-width: 820px) {
    .name-container {
        top: 333px;

        h1 {
            font-size: 62px;
            letter-spacing: -2px;
        }

        h3 {
            font-size: 24px;
            line-height: 100%;
        }
    }

    .check-contact-container {
        margin-top: 32px;
        gap: 24px;

        .hover-slide {
            width: 153px;
        }
    }

    .arrow-container {
        height: 296px;
        width: 30px;
        margin-top: 548px;
    }
}

@media(max-width: 410px) {
    .name-container {
        h1 {
            font-size: 50px;
            letter-spacing: -2px;
        }
    }

    .check-contact-container {
        margin-top: 32px;
        gap: 10px;

        .hover-slide {
            width: 130px;
        }
    }
}