<section class="landing-page-container">
    <div class="landing-page">
        <div class="arrow-container">
            <div class="arrow-border">
                <a class="arrow" href="#">↓</a>
            </div>
            <span class="line"></span>
        </div>
        <div class="name-container">
            <h3>{{ 'fontend_developer' | translate }}</h3>
            <h1>Lukas Müller</h1>
            <div class="check-contact-container">
                <button class="hover-slide" hoverSlide>
                    <span class="main-text">{{ 'check_my_work' | translate }}</span>
                    <span class="slide-text">{{ 'check_my_work' | translate }}</span>
                </button>
                <button style="width: 143px;" class="hover-slide" hoverSlide>
                    <span class="main-text">{{ 'contact_me' | translate }}</span>
                    <span class="slide-text">{{ 'contact_me' | translate }}</span>
                </button>
            </div>
        </div>

        <div class="git-linkin-container">
            <span class="vertical-email">Lukmull&#64;email.com</span>
            <div class="icon-container">
                <a href="https://github.com" class="icon github"></a>
                <a href="https://linkedin.com" class="icon linkedin"></a>
            </div>
            <span class="line"></span>
        </div>

    </div>
    <div class="carousel">
        <div class="group">
            <div class="card">{{ 'remote' | translate }}</div>
            <div class="point">&#8226;</div>
            <div class="card">{{ 'fontend_developer' | translate }}</div>
            <div class="point">&#8226;</div>
            <div class="card">{{ 'based' | translate }}</div>
            <div class="point">&#8226;</div>
            <div class="card">{{ 'work' | translate }}</div>
            <div class="point">&#8226;</div>
        </div>
        <div class="group">
            <div class="card">{{ 'remote' | translate }}</div>
            <div class="point">&#8226;</div>
            <div class="card">{{ 'fontend_developer' | translate }}</div>
            <div class="point">&#8226;</div>
            <div class="card">{{ 'based' | translate }}</div>
            <div class="point">&#8226;</div>
            <div class="card">{{ 'work' | translate }}</div>
            <div class="point">&#8226;</div>
        </div>
        <div class="group">
            <div class="card">{{ 'remote' | translate }}</div>
            <div class="point">&#8226;</div>
            <div class="card">{{ 'fontend_developer' | translate }}</div>
            <div class="point">&#8226;</div>
            <div class="card">{{ 'based' | translate }}</div>
            <div class="point">&#8226;</div>
            <div class="card">{{ 'work' | translate }}</div>
            <div class="point">&#8226;</div>
        </div>
    </div>
</section>