.landing-page-container {
    height: 100vh;
    width: 100vw;
}

.background {
    height: 100%;
    width: 100%;
    background-image: url('./../../../assets/img/Background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.landing-page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}


.name-container {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        margin: 0;
        font-size: 128px;
        text-align: center;
    }

    h3 {
        font-size: 40px;
        font-family: "Fira Code";
        text-align: center;
    }
}

.check-contact-container {
    display: flex;
    gap: clamp(16px, 3vw, 48px);
    margin-top: clamp(20px, 4vh, 40px);

    .pulse-wrapper {
        position: relative;
        display: inline-block;

        &::before,
        &::after {
            content: "";
            position: absolute;
            inset: -4px;
            border: 1px solid #0ff;
            border-radius: 100px;
            animation: pulseOut 3s ease-out infinite;
            opacity: 0;
            pointer-events: none;
        }

        &:hover::before,
        &:hover::after {
            animation: none;
            opacity: 0;
        }

        &::after {
            animation-delay: 1s;
        }
    }

    @keyframes pulseOut {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        100% {
            transform: scale(1.2);
            opacity: 0;
        }
    }

    .hover-slide {
        border: 1px solid white;
        border-radius: 100px;
        height: 48px;
        width: clamp(130px, 20vw, 172px);
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        transition: border-color 0.25s ease-in-out;

        &:hover {
            border: 1px solid #3DCFB6;
        }

        span {
            position: absolute;
            white-space: nowrap;
            height: 48px;
            width: 172px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .main-text {
            opacity: 1;
            color: white;
        }

        .slide-text {
            color: #3DCFB6;
            opacity: 0;
            transform: translateX(100%);
        }

        .mobile-slider {
            display: none;
        }
    }
}

.arrow-container {
    margin-top: 0;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    .arrow-border {
        width: 30px;
        height: 48px;
        border: solid 1px #3DCFB6;
        border-radius: 32px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .arrow {
        display: inline-block;
        font-size: 16px;
        animation: bounce 1s infinite;
        cursor: default;
    }

    .overlay-open {
        animation-play-state: paused;
    }

    @keyframes bounce {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(8px);
        }
    }

    .arrow-line {
        width: 0;
        height: clamp(120px, 30vh, 240px);
        border: solid 1px #3DCFB6
    }
}

.git-linkin-container {
    height: auto;
    margin-top: 0;
    position: absolute;
    bottom: 0;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    .vertical-email {
        width: 22px;
        height: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        transform: rotate(180deg);
        cursor: default;

        &:hover {
            color: #3DCFB6;
        }
    }

    .icon-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 32px;
        height: 76px;
        gap: 12px;

        .icon {
            display: inline-block;
            background-repeat: no-repeat;
            height: 32px;
            width: 45px;
            cursor: pointer;

            &.email {
                display: none;
                background-image: url("./../../../assets/img/img_phone/mail.svg");


                &:hover {
                    background-image: url("./../../../assets/img/img_phone/mail_hover.svg");
                }
            }
        }
    }

    .github {
        background-image: url("./../../../assets/img/GitHub.svg");
    }

    .github:hover {
        background-image: url("./../../../assets/img/GitHub Hover.svg");
    }

    .linkedin {
        background-image: url("./../../../assets/img/Linkedin.svg");
    }

    .linkedin:hover {
        background-image: url("./../../../assets/img/Linkedin\ Hovevr.svg");
    }

    .git-linkin-line {
        width: 0;
        height: clamp(120px, 30vh, 186px);
        border: solid 1px #FFFFFF;
    }
}

.slider-box {
    position: absolute;
    overflow: hidden;
    height: 150px;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    z-index: 5;
    transform: rotate(-3deg);

    -webkit-mask-image: linear-gradient(to right,
            transparent 0%,
            black 10%,
            black 90%,
            transparent 100%);

    mask-image: linear-gradient(to right,
            transparent 0%,
            black 10%,
            black 90%,
            transparent 100%);
}

.slider {
    white-space: nowrap;
    height: auto;
    padding: 10px 0;
    display: flex;
    backdrop-filter: blur(5.3px);
    background: #FFFFFF1F;
    will-change: contents;
    width: max-content;
}

.track {
    display: inline-flex;
    animation: scroll 8s linear infinite;
}

.track.Overlay-open {
    animation-play-state: paused;
}

.slide {
    margin-right: 56px;
    font-size: 32px;
    display: flex;
    align-items: center;
    position: relative;
    color: #3DCFB6;
    cursor: default;
}

.slide::after {
    content: "•";
    margin-left: 56px;
    opacity: 0.6;
}

.track .slide:last-child::after {
    content: "";
}



@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-33.33333%);
    }
}

@media(max-width: 1100px) {
    .container {
        padding: 0 16px;
    }

    .check-contact-container {
        .hover-slide {
            .main-text {
                opacity: 0;
            }

            .mobile-slider {
                display: flex;
                color: #3DCFB6;
            }
        }
    }

    .git-linkin-container {
        .vertical-email {
            display: none;
        }

        .icon-container {
            height: 120px;

            .icon {
                &.email {
                    display: flex;
                }
            }
        }
    }
}

@media(max-width: 890px) {
    .name-container {
        h1 {
            font-size: 80px;
        }

        h3 {
            font-size: 24px;
        }
    }
}

@media(max-width: 820px) {
    .check-contact-container {
        margin-top: 32px;
        gap: 32px;

        .hover-slide {
            width: 153px;
        }
    }
}

@media(max-width: 565px) {
    .name-container {
        h1 {
            font-size: 40px;
        }

        h3 {
            font-size: 16px;
        }
    }
}

@media(max-width: 410px) {
    .check-contact-container {
        margin-top: 32px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .hover-slide {
            width: 130px;
        }
    }
}