<section class="landing-page-container">
    <div class="landing-page">
        <div class="arrow-container">
            <div class="arrow-border">
                <a class="arrow" href="#">↓</a>
            </div>
            <span class="line"></span>
        </div>
        <div class="name-container">
            <h3>{{ 'fontend_developer' | translate }}</h3>
            <h1>Lukas Müller</h1>
            <div class="check-contact-container">
                <a class="hover-slide" href="">
                    <span>{{ 'check_my_work' | translate }}</span>
                </a>
                <a class="hover-slide" href="">
                    <span>{{ 'contact_me' | translate }}</span>
                </a>
            </div>
        </div>

        <div class="git-linkin-container">
            <span class="vertical-email">Lukmull&#64;email.com</span>
            <div class="icon-container">
                <a href="https://github.com" class="icon github"></a>
                <a href="https://linkedin.com" class="icon linkedin"></a>
            </div>
            <span class="line"></span>
        </div>

    </div>
    <div class="permanent-slide-container">
        <div class="permanent-slide-animation-container">
            <div class="slide-track">
                <span>{{ 'remote' | translate }}</span>
                <span>&#8226;</span>
                <span>{{ 'fontend_developer' | translate }}</span>
                <span>&#8226;</span>
                <span>{{ 'based' | translate }}</span>
                <span>&#8226;</span>
                <span>{{ 'work' | translate }}</span>
                <span>&#8226;</span>
            </div>
        </div>
    </div>
</section>