.landing-page-container {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-image: url('./../../../assets/img/Background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.landing-page {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 96px;
    gap: 12px;

    h1 {
        font-size: 128px;
        font-weight: 700;
        padding: 0;
        margin: 0;
    }

    h3 {
        font-size: 40px;
        font-weight: 400;
        padding: 0;
        margin: 0;
    }
}

.name-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.check-contact-container {
    display: flex;
    gap: 48px;

    .hover-slide {
        border: 1px solid white;
        border-radius: 100px;
        height: 48px;
        width: 172px;
        overflow: hidden;
        display: inline-block;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;



        &:hover {
            border: 1px solid #3DCFB6;
            transition: all 125ms ease-in-out;
        }

        span {
            display: inline-block;
            white-space: nowrap;

        }

        &:hover span {
            animation: scrollCarousel 3.6s linear infinite;
            color: #3DCFB6;
        }
    }
}

@keyframes scrollCarousel {

    0% {
        transform: translateX(0);
    }

    49% {
        transform: translateX(-230%);

    }

    50% {
        transform: translateX(300%);
        opacity: 0;
    }

    51% {
        transform: translateX(230%);
    }

    100% {
        transform: translateX(0);
    }

}

.arrow-container {
    height: 312px;
    width: 30px;
    margin-top: 588px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    .arrow-border {
        width: 30px;
        height: 48px;
        border: solid 1px #3DCFB6;
        border-radius: 32px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .arrow {
        display: inline-block;
        font-size: 16px;
        animation: bounce 1s infinite;
        cursor: default;
    }

    @keyframes bounce {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(8px);
        }
    }
}

.git-linkin-container {
    height: 480px;
    width: 80px;
    margin-top: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    .vertical-email {
        writing-mode: vertical-rl;
        text-orientation: sideways;
        transform: rotate(180deg);
        cursor: default;

        &:hover {
            color: #3DCFB6;
        }
    }

    .icon-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 32px;
        height: 76px;
        gap: 14px;

        .icon {
            display: inline-block;
            background-repeat: no-repeat;
            height: 32px;
            width: 50px;
            cursor: default;
        }
    }



    .github {
        background-image: url("./../../../assets/img/GitHub.svg");
    }

    .github:hover {
        background-image: url("./../../../assets/img/GitHub Hover.svg");
    }

    .linkedin {
        background-image: url("./../../../assets/img/Linkedin.svg");
    }

    .linkedin:hover {
        background-image: url("./../../../assets/img/Linkedin\ Hovevr.svg");
    }
}

.line {
    width: 0;
    height: 240px;
    border: solid 1px #3DCFB6
}

.carousel {
    position: absolute;
    top: 760px;
    margin: auto;
    height: 62px;
    width: 100%;
    display: flex;
    overflow-x: auto;
    transform: rotate(-3deg);
    backdrop-filter: blur(5.3px);
    background: #FFFFFF1F;

    &::-webkit-scrollbar {
        display: none;
    }
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 15s infinite linear;
}

.card {
    flex: 0 0 5em;
    color: #3DCFB6;
    height: 38px;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    cursor: default;
    white-space: nowrap;
    padding-left: 28px;
    padding-right: 28px;
}

.point {
    color: #3DCFB6;
    font-size: 16px;
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}
