<app-header></app-header>
<section class="landing-page-container">
    <div class="landing-page">
        <div class="arrow-container">
            <div class="arrow-border">
                <a class="arrow" href="#">↓</a>
            </div>
            <span class="line"></span>
        </div>
        <div class="name-container">
            <h3>Frontend Developer</h3>
            <h1>Kevin Breiter</h1>
            <div class="check-contact-container">
                <a class="hover-slide" href="">
                    <span>Check my work&nbsp;</span>
                </a>
                <a class="hover-slide" href="">
                    <span>Contact me&nbsp;</span>
                </a>
            </div>
        </div>

        <div class="git-linkin-container">
            <span class="vertical-email">kevin_breiter&#64;web.de</span>
            <div class="icon-container">
                <a href="https://github.com" class="icon github"></a>
                <a href="https://linkedin.com" class="icon linkedin"></a>
            </div>
            <span class="line"></span>
        </div>

    </div>
    <div class="permanent-slide-container">
        <div class="permanent-slide-animation-container">
            <div class="slide-track">
                <span>Available for remote work</span>
                <span>&#8226;</span>
                <span>Frontend Developer</span>
                <span>&#8226;</span>
                <span>Based in Plauen</span>
                <span>&#8226;</span>
                <span>Open to work</span>
                <span>&#8226;</span>

                <span>Available for remote work</span>
                <span>&#8226;</span>
                <span>Frontend Developer</span>
                <span>&#8226;</span>
                <span>Based in Plauen</span>
                <span>&#8226;</span>
                <span>Open to work</span>
                <span>&#8226;</span>
            </div>
        </div>
    </div>
</section>