.card {
    box-sizing: border-box;
    background: #3DCFB61A;
    border-radius: 20px;
    padding: 2rem;
    min-height: 274px;
    margin: 20px 0;
    border: 1px solid #3DCFB6;

    font-size: 24px;
}

.splide__slide .card {
    transition: transform 0.4s ease, opacity 0.4s ease;
    transform: scale(0.9);
    opacity: 0.5;
}

.splide__slide.is-active .card {
    transform: scale(1.00);
    opacity: 1;
    background: #3dcfb760;
}

.custom-nav {
    width: 100%;
    margin-top: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    .costum-box {
        width: 184px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        span {
            margin: 0;
            padding: 0;
            display: flex;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #FFFFFF;
        }

        .dotsActive {
            background-color: #3DCFB6;
        }
    }
}

.arrow-forward {
    background-image: url('./../../../../../assets/img/arrow-forward.svg');
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    transition: 125ms ease-in-out;

    &:hover {
        background-image: url('./../../../../../assets/img/arrow_forward_turquoise.svg');
        transform: translateX(4px) scale(1.05);
    }
}

.arrow-back {
    background-image: url('./../../../../../assets/img/arrow_back.svg');
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    transition: 125ms ease-in-out;
    margin-bottom: 0;

    &:hover {
        background-image: url('./../../../../../assets/img/arrow_back_hover.svg');
        height: 18px;
        width: 18px;
        transform: translateX(-4px);
        margin-bottom: 0.76px;
    }
}