<section class="featured-projects-box">
    <div class="container">
        <div>
            <div>
                <h3>Portfolio</h3>
                <h1>{{ 'featured_projects' | translate }}</h1>
                <span class="project-text">
                    <p>{{ 'featured_projects_text1' | translate }}</p>
                </span>
            </div>
            <div class="projects-container">
                <span class="horizontal-line"></span>
                <div class="project" (click)="openOverlay('join')">
                    <div>
                        <h2>Join</h2>
                        <img src="./../../../assets/img/arrow_outward.svg" alt="">
                    </div>
                    <div>
                        Angular <span class="vertical-line"></span> TypeScript <span class="vertical-line"></span>
                        HTML <span class="vertical-line"></span> CSS <span class="vertical-line"></span> Firebase
                    </div>
                    <img class="project-img-mini-join" src="./../../../assets/img/Join.svg" alt="">
                </div>
                <span class="horizontal-line"></span>
                <div class="project" (click)="openOverlay('elpolloloco')">
                    <div>
                        <h2>El Pollo Loco</h2>
                        <img src="./../../../assets/img/arrow_outward.svg" alt="">
                    </div>
                    <div>
                        HTML <span class="vertical-line"></span> CSS <span class="vertical-line"></span> JavaScript
                    </div>
                    <img class="project-img-mini-elpolloloco" src="./../../../assets/img/El-Pollo-Logo.svg" alt="">
                </div>
                <span class="horizontal-line"></span>
            </div>
        </div>
    </div>
    <div class="overlay" *ngIf="overlayVisible" (click)="closeOverlay()">
        <div class="overlay-content" (click)="$event.stopPropagation()">
            <ng-container [ngSwitch]="activeProject">
                <app-project-join *ngSwitchCase="'join'" (close)="closeOverlay()"
                    (next)="showNextProject()"></app-project-join>
                <app-project-elpolloloco *ngSwitchCase="'elpolloloco'" (close)="closeOverlay()"
                    (next)="showNextProject()"></app-project-elpolloloco>
                <app-project-dabubble *ngSwitchCase="'dabubble'" (close)="closeOverlay()"
                    (next)="showNextProject()"></app-project-dabubble>
            </ng-container>
        </div>
    </div>
</section>