.featured-projects-box {
    height: 581px;
    width: 100vw;
    max-width: 1440px;
}

.around-padding {
    padding: 96px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

h1 {
    font-size: 64px;
    font-weight: 700;
    margin: 0 0 41px 0;
    font-family: "Fira Code";
}

.project-text {
    width: 456px;
    height: 44px;
    display: flex;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    letter-spacing: 1px;
    margin-bottom: 41px;
}

.vertical-line {
    border: 1px solid #3DCFB6;
    border-radius: 10px;
    height: 10px;
}

.horizontal-line {
    width: 880px;
    border: 1px solid #3DCFB6;
    border-radius: 10px;
}

.projects-container {
    width: 882px;
    height: 327px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .project {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        height: 109px;
        transition: 125ms ease-in-out;

        .projecte-image-container {
            display: flex;
        }

        h2 {
            cursor: pointer;
            font-family: "Fira Code";
            margin: 0;
        }

        img {
            transition: 125ms ease-in-out;
            width: 12.56px;
            height: 12.56px;
            display: none
        }

        &:hover {
            background-color: #3dcfb73f;
            cursor: pointer;

            img {
                display: flex;
            }
        }

        >div {
            display: flex;
            gap: 8px;
            align-items: center;
        }

        .project-img-mini-join {
            position: absolute;
            left: 1050px;
            top: 2980px;
            height: 212px;
            width: 315px;
            object-fit: contain;
        }

        .project-img-mini-elpolloloco {
            position: absolute;
            left: 1050px;
            top: 3070px;
            height: 212px;
            width: 315px;
            object-fit: contain;
        }

        .project-img-mini-dabubble {
            position: absolute;
            left: 1050px;
            top: 3140px;
            height: 212px;
            width: 315px;
            object-fit: contain;
        }
    }
}


.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.363);

    .overlay-content {
        width: 1248px;
        height: 656px;
        background: linear-gradient(40deg, #1C1C1C 30%, #08463B);
        border: 1px solid #3DCFB6;
        border-radius: 30px;
        margin: 0 20px;

        .buttons {
            margin: 1rem 0;
            display: flex;
            gap: 1rem;
            justify-content: center;

            .btn {
                background: #007BFF;
                color: white;
                padding: 0.5rem 1rem;
                border-radius: 8px;
                text-decoration: none;
                transition: background 0.2s;
            }

            .btn:hover {
                background: #0056b3;
            }
        }
    }
}

@media(max-width: 1380px) {
    .around-padding {
        padding: 96px 16px;
    }

    .projects-container {
        .project {
            .project-img-mini-join {
                left: 930px;
            }

            .project-img-mini-elpolloloco {
                left: 930px;
            }

            .project-img-mini-dabubble {
                left: 930px;
            }
        }
    }
}

@media(max-width: 1260px) {
    .projects-container {
        .project {
            &:hover {
                img {
                    display: none;
                }
            }
        }
    }
}

@media(max-width: 1000px) {
    .overlay {
        .overlay-content {
            height: 844px;
            width: 366px;

            .buttons {
                margin: 1rem 0;
                display: flex;
                gap: 1rem;
                justify-content: center;

                .btn {
                    background: #007BFF;
                    color: white;
                    padding: 0.5rem 1rem;
                    border-radius: 8px;
                    text-decoration: none;
                    transition: background 0.2s;
                }

                .btn:hover {
                    background: #0056b3;
                }
            }
        }
    }
}

@media(max-width: 920px) {
    .horizontal-line {
        width: 90%;
    }

    .projects-container {
        .project {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 8px;

            &:hover {
                background-color: transparent;
            }
        }
    }
}

@media(max-width: 830px) {
    .horizontal-line {
        width: 70%;
    }
}

@media(max-width: 650px) {
    .horizontal-line {
        width: 358px;
    }

    @media(max-width: 480px) {
        h1 {
            font-size: 56px;
        }

        .project-text {
            width: 100%;
        }

        .horizontal-line {
            width: 280px;
        }

        .projects-container {
            .project {
                >div {
                    gap: 6px;
                    font-size: 12px;
                }
            }
        }
    }
}