<section class="featured-projects-box">
    <div class="container">
        <div>
            <div>
                <h3>Portfolio</h3>
                <h2>{{ 'featured_projects' | translate }}</h2>
                <span class="project-text">
                    <p>{{ 'featured_projects_text1' | translate }}</p>
                </span>
            </div>
            <div class="projects-container">
                <span class="horizontal-line"></span>
                <div class="project" (click)="openOverlay('join')">
                    <div>
                        <h4>Join</h4>
                        <img src="./../../../assets/img/arrow_outward.svg" alt="">
                    </div>
                    <div>
                        HTML <span class="vertical-line"></span> CSS <span class="vertical-line"></span> Firebase
                    </div>
                    <img class="project-img-mini-join" src="./../../../assets/img/join.png" alt="">
                </div>
                <span class="horizontal-line"></span>
                <div class="project" (click)="openOverlay('elpolloloco')">
                    <div>
                        <h4>El Pollo Loco</h4>
                        <img src="./../../../assets/img/arrow_outward.svg" alt="">
                    </div>
                    <div>
                        HTML <span class="vertical-line"></span> CSS <span class="vertical-line"></span> JavaScript
                    </div>
                    <img class="project-img-mini-elpolloloco" src="./../../../assets/img/Hover_ElPoloLoco.png" alt="">
                </div>
                <span class="horizontal-line"></span>
                <div class="project new-project" (click)="openOverlay('memory')">
                    <div>
                        <h4>Memory App</h4>
                        <img src="./../../../assets/img/arrow_outward.svg" alt="">
                    </div>
                    <div>
                        TypeScript <span class="vertical-line"></span> SCSS
                    </div>
                    <span class="new hologram">
                        <span data-text="neu">neu</span>
                    </span>
                    <img class="project-img-mini-memory" src="./../../../assets/img/memory_setting.png" alt="">
                </div>
                <span class="horizontal-line"></span>
            </div>
        </div>
    </div>
    <div class="overlay" *ngIf="overlayVisible" (click)="closeOverlay()">
        <div class="overlay-content" (click)="$event.stopPropagation()">
            <ng-container [ngSwitch]="activeProject">
                <app-project-join *ngSwitchCase="'join'" (close)="closeOverlay()"
                    (next)="showNextProject()"></app-project-join>
                <app-project-elpolloloco *ngSwitchCase="'elpolloloco'" (close)="closeOverlay()"
                    (next)="showNextProject()"></app-project-elpolloloco>
                <app-memory *ngSwitchCase="'memory'" (close)="closeOverlay()" (next)="showNextProject()"></app-memory>
            </ng-container>
        </div>
    </div>
</section>