box {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.legal-notice-box {
    padding: 149px 96px 0;
    background-image: url('../../assets/img/Background.png');
    background-size: 100% 100%;

    h1 {
        font-size: 64px;
        font-weight: 700;
        text-align: center;
        font-family: "Fira Code";
        color: #3DCFB6;
    }

    h2 {
        font-size: 19px;
        font-weight: 700;
    }

    h3 {
        font-size: 19px;
        font-weight: 700;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        color: #3DCFB6;
    }

    .legal-notice-container {
        padding: 0 120px;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .flex-column-gap {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        li {
            color: #3DCFB6;
        }
    }
}