<app-header></app-header>
<section class="landing-page-container">
    <div class="landing-page">
        <div class="arrow-container">
            <div class="arrow-border">
                <a class="arrow" href="#">↓</a>
            </div>
            <span class="line"></span>
        </div>
        <div class="name-container">
            <h3>Frontend Developer</h3>
            <h1>Kevin Breiter</h1>
            <div class="check-contact-container">
                <a href="">Check my work</a>
                <a href="">Contact me</a>
            </div>
        </div>

        <div class="git-linkin-container">
            <span class="vertical-email">kevin_breiter&#64;web.de</span>
            <img src="./../../assets/img/GitHub.svg" alt="">
            <img src="./../../assets/img/Linkedin.svg" alt="">
            <span class="line"></span>
        </div>
    </div>
</section>