<section class="legal-notice-box">
    <div class="background">
        <div class="container">
            <div class="legal-box">
                <h1>{{ 'Legal Notice' | translate }}</h1>
                <div class="legal-notice-container">
                    <div class="flex-column-gap">
                        <h2>{{ 'Imprint' | translate }}</h2>
                        <ul>
                            <li>Kevin Breiter</li>
                            <li>Leibnitzstr. 36</li>
                            <li>{{ 'Responsible_person_p2' | translate }}</li>
                        </ul>

                        <h3>{{ 'exploring' | translate }}
                            <br>
                            <p>Email: kevin_breiter&#64;web.de</p>
                        </h3>
                    </div>
                    <div>
                        <h3>{{ 'acceptance' | translate }}
                            <p [innerHTML]="'acceptance_text' | translate"></p>
                        </h3>
                    </div>
                    <div>
                        <h3>{{ 'ownsership' | translate }}
                            <p [innerHTML]="'ownsership-text1' | translate"></p>
                            <br>
                            <p [innerHTML]="'ownsership-text2' | translate"></p>
                        </h3>
                    </div>
                    <div>
                        <h3>{{ 'Proprietary rights' | translate }}
                            <p [innerHTML]="'Proprietary rights_text1' | translate"></p>
                        </h3>
                    </div>
                    <div>
                        <h3>{{ 'product' | translate }}
                            <p [innerHTML]=" 'product_text' | translate"></p>
                        </h3>

                    </div>
                    <div>
                        <h3>{{ 'disclamer' | translate }}
                            <p [innerHTML]="'disclamer_text' | translate"></p>
                        </h3>
                    </div>
                    <div>
                        <h3>{{ 'Indemnity' | translate }}
                            <p [innerHTML]="'Indemnity_text' | translate"></p>
                            <br>
                            <p>{{ 'questions' | translate }}</p>
                            <br>
                            <p>{{ 'date' | translate }}</p>
                        </h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>