@import '@splidejs/splide/css/core';

@font-face {
    font-family: 'Fira Code';
    src: url('../src/assets/fonts/FiraCode/static/FiraCode-Regular.ttf') format('truetype'),
        url('../src/assets/fonts/FiraCode/static/FiraCode-Bold.ttf') format('truetype');
}

* {
    scroll-behavior: smooth;
    font-family: "Karla", sans-serif;
}

:root {
    // color
    --primar-bg-color: #1C1C1C;
    --textcolor: #3DCFB6;
    --bgcolor: #3DCFB6;

    // font-size
    --font-size-16: 16px;
    --font-size-24: 24px;
    --font-size-64: 64px;

    // font-weight
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;

    // margin
    --margin-0: 0px;

    // padding 
    --padding-0: 0px;
}

.turquoise {
    color: var(--textcolor);
}

body {
    margin: 0;
    scroll-behavior: smooth;
    background-color: var(--primar-bg-color);
    color: white;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 0;
    }
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

body.no-scroll,
html.no-scroll {
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

p {
    margin: 0;
    cursor: default;
}

h1 {
    cursor: default;
}

h2 {
    cursor: default;
}

h3 {
    cursor: default;
}

.white-color {
    color: #FFFFFF;
}
