<section class="skill-set-box">
    <div class="skill-box">
        <h2>Technologies</h2>
        <div class="justify-content">
            <div class="tech-container">
                <h1>Skill Set</h1>
                <div class="capability-first-text">
                    <span>
                        A short introduction of your skills. Highlight your experience of using different front-end
                        technologies and emphasise your openness to learning and adapting to new technologies. Show how
                        important it is for you to keep up with the rapid changes in web development.
                    </span>
                </div>
                <div class="capability-second-text">
                    <h3>You need <span>another skill?</span></h3>
                    <p>
                        Feel free to contact me. I look forward to expanding on my previous knowledge.
                    </p>
                </div>
                <button>
                    <p>Let's Talk</p>
                </button>
            </div>
            <div class="skill-images-container">
                <div>
                    <img src="./../../../assets/img/Property HTML.svg" alt="">
                    <p>HTML</p>
                </div>
                <div>
                    <img src="./../../../assets/img/Property CSS.svg" alt="">
                    <p>CSS</p>
                </div>
                <div>
                    <img src="./../../../assets/img/Property JavaScript.svg" alt="">
                    <p>JavaScript</p>
                </div>
                <div>
                    <img src="./../../../assets/img/Property Material Design.svg" alt="">
                    <p>Material <br> Design</p>
                </div>
                <div>
                    <img src="./../../../assets/img/Property TypeScript.svg" alt="">
                    <p>TypeScript</p>
                </div>
                <div>
                    <img src="./../../../assets/img/Property Angular.svg" alt="">
                    <p>Angular</p>
                </div>
                <div>
                    <img src="./../../../assets/img/Property Firebase.svg" alt="">
                    <p>Firebase</p>
                </div>
                <div>
                    <img src="./../../../assets/img/Property Git.svg" alt="">
                    <p>GIT</p>
                </div>
                <div>
                    <img src="./../../../assets/img/Property Rest-Api.svg" alt="">
                    <p>Rest-Api</p>
                </div>
                <div>
                    <img src="./../../../assets/img/Property Scrum.svg" alt="">
                    <p>Scrum</p>
                </div>
                <div class="special-hover" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                    <img src="./../../../assets/img/Property GrowthMindset.svg" alt="">
                    <p>Growth <br> mindset</p>
                </div>
            </div>
            @if (showInterrest) {
            <div class="interrest-group-container">
                <img src="./../../../assets/img/interrest-group.svg" alt="">
            </div>
            }

        </div>


    </div>

</section>