<section class="skill-set-box">
    <div class="skill-box">
        <h2>{{ 'technologies' | translate }}</h2>
        <div class="justify-content">
            <div class="tech-container">
                <h1>{{ 'skill_set' | translate }}</h1>
                <div class="capability-first-text">
                    <span>
                        {{ 'technologies_text1' | translate }}
                    </span>
                </div>
                <div class="capability-second-text">
                    <h3>{{ 'technologies_text2' | translate }}<span>{{ 'technologies_text2.1' | translate }}</span></h3>
                    <p>
                        {{ 'technologies_text3' | translate }}
                    </p>
                </div>
                <button class="hover-slide" hoverSlide>
                    <span class="main-text">{{ 'lets_talk' | translate }}</span>
                    <span class="slide-text">{{ 'lets_talk' | translate }}</span>
                </button>
            </div>
            <div class="skill-images-container">
                <div>
                    <img src="./../../../assets/img/Property HTML.svg" alt="">
                    <p>HTML</p>
                </div>
                <div>
                    <img src="./../../../assets/img/Property CSS.svg" alt="">
                    <p>CSS</p>
                </div>
                <div>
                    <img src="./../../../assets/img/Property JavaScript.svg" alt="">
                    <p>JavaScript</p>
                </div>
                <div>
                    <img src="./../../../assets/img/Property Material Design.svg" alt="">
                    <p>Material <br> Design</p>
                </div>
                <div>
                    <img src="./../../../assets/img/Property TypeScript.svg" alt="">
                    <p>TypeScript</p>
                </div>
                <div>
                    <img src="./../../../assets/img/Property Angular.svg" alt="">
                    <p>Angular</p>
                </div>
                <div>
                    <img src="./../../../assets/img/Property Firebase.svg" alt="">
                    <p>Firebase</p>
                </div>
                <div>
                    <img src="./../../../assets/img/Property Git.svg" alt="">
                    <p>GIT</p>
                </div>
                <div>
                    <img src="./../../../assets/img/Property Rest-Api.svg" alt="">
                    <p>Rest-Api</p>
                </div>
                <div>
                    <img src="./../../../assets/img/Property Scrum.svg" alt="">
                    <p>Scrum</p>
                </div>
                <div class="special-hover" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                    <img src="./../../../assets/img/Property GrowthMindset.svg" alt="">
                    <p>{{ 'growth' | translate }}</p>
                    <p>{{ 'mindset' | translate }}</p>
                </div>
            </div>
            @if (showInterrest) {
            <div class="interrest-group-container">
                <img src="./../../../assets/img/interrest-group.svg" alt="">
            </div>
            }

        </div>


    </div>

</section>