.skill-set-box {
    height: 695px;
    width: 100vw;
    max-width: 100%;
    background-image: url('./../../../assets/img/Skill\ set\ Background.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left, bottom;
}

.skill-box {
    padding: 96px;

    h2 {
        color: #3DCFB6;
    }
}

.justify-content {
    display: flex;
    justify-content: space-between;
}

.tech-container {
    width: 520px;
    background-color: #3DCFB61A;
    border-radius: 30px;
    border: 1px solid #3DCFB6;
    padding: 32px;
    gap: 40px;

    h1 {
        color: #3DCFB6;
        font-size: 64px;
        font-weight: 700;
        margin: 0;
        margin-bottom: 40px;
    }

    .capability-first-text {
        text-align: justify;
        letter-spacing: 0.5px;
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;
        margin-bottom: 32px;
    }

    .capability-second-text {
        width: 331px;
        margin-bottom: 40px;

        >h3 {
            width: 290px;
            display: block;
            text-align: justify;
            text-align-last: justify;
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 0.5px;

            >span {
                color: #3DCFB6;
            }
        }
    }
}

.skill-images-container {
    height: 428px;
    width: 632px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: start;
    gap: 40px;

    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 8px;

        img {
            height: 64px;
            width: 64px;
            transition: 125ms ease-in-out;
        }

        p {
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            line-height: 120%;
            cursor: default;
        }

        &:hover img {
            transform: scale(1.1);
        }
    }

    .special-hover {
        transition: 125ms ease-in-out;

        &:hover {
            color: #3DCFB6;
        }
    }
}

.interrest-group-container {
    position: absolute;
    right: 190px;
    bottom: -1490px;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
}

.hover-slide {
    border: 1px solid white;
    border-radius: 100px;
    height: 48px;
    width: 122px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: border-color 0.25s ease-in-out;

    &:hover {
        border: 1px solid #3DCFB6;
    }

    span {
        position: absolute;
        white-space: nowrap;
        height: 48px;
        width: 172px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-text {
        color: white;
    }

    .slide-text {
        color: #3DCFB6;
        opacity: 0;
        transform: translateX(100%);
    }
}