<section class="footer-box">
    <div class="footer-container">
        <div class="box1">
            <a class="logo" href="#landing-page" ></a>
            <div>
                <p>Web Developer</p>
                <p>Munich Germany</p>
            </div>
        </div>
        <div>
            <img src="../../../assets/img/coby_logo.svg" alt="" style="width: 206px; height: 22px;">
        </div>
        <div class="box2">
            <a class="point-effect" href="">Github</a>
            <a class="point-effect" href="">LinkedIn</a>
            <a class="point-effect" href="">Email</a>
            <a class="point-effect" href="">Legal Notice</a>
        </div>
    </div>
</section>