footer {
    position: absolute;
    width: 100vw;
    padding: 50px;
    bottom: 0;

    .footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}


.box1 {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .logo {
        display: block;
        height: 48px;
        width: 132px;
        background-image: url('../../../../src/assets/img/NamensLogo.svg');
        object-fit: cover;
        background-position: center;
        transition: 125ms ease-in-out;

        &:hover {
            height: 48px;
            width: 132px;
            background-image: url('../../../../src/assets/img/NamensLogo_hover.svg');
            object-fit: cover;
            background-position: center;
            cursor: pointer;
        }
    }

    p {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
    }
}

.box2 {
    span {
        color: #3DCFB6;
        font-family: "Fira Code";
        font-size: 18px;
        cursor: default;
    }
}

.box3 {
    height: 126px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;

    a {
        cursor: default;
        transition: 125ms ease-in-out;
        font-size: 14px;

        &:hover {
            color: #3DCFB6;
        }
    }
}

.point-effect {
    position: relative;
}

.point-effect::after {
    content: "";
    position: absolute;
    left: -10%;
    bottom: 7px;
    transform: translateX(-0%);
    width: 0;
    height: 0;
    border-radius: 50%;

    background-color: #3DCFB6;
    transition: all 125ms;
}

.point-effect:hover::after {
    width: 5px;
    height: 5px;
}

@media(max-width: 830px) {
    .container {
        padding: 0;
    }
}

@media(max-width: 670px) {
    .box2 {
        height: 30px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 40px;
        display: flex;
        justify-content: center;

        span {
            font-size: 13px;
        }
    }
}

@media(max-width: 570px) {
    footer {
        padding: 50px 24px;

        .footer {
            height: 180px;
            align-items: start;
        }
    }
}