<footer>
    <div class="container">
        <div class="footer">
            <div class="box1">
                <a class="logo" (click)="scrollToTop()"></a>
                <div>
                    <p>{{ 'Web_Developer' | translate }}</p>
                    <p>{{ 'Germany' | translate}}</p>
                </div>
            </div>
            <div class="box2">
                <span>© Kevin Breiter 2026</span>
            </div>
            <div class="box3">
                <a class="point-effect" href="https://github.com/">Github</a>
                <a class="point-effect" href="https://linkedin.com">LinkedIn</a>
                <a class="point-effect" href="mailto: test@web.de.com">Email</a>
                <a class="point-effect" href="legal-notice">{{ 'Legal_Notice' | translate }}</a>
            </div>
        </div>
    </div>
</footer>